@import '../common/button';

.container {
  padding: 0 60px;
}

.cover-screen {
  display: flex;
  align-items: center;
  justify-content: center;
}

.restaurant-img {
  margin: 10px 15px 0 0;
}

.new-dish {
  background-color: #F0F0F0;
  padding: 15px;
  width: 400px;
  height: 260px;
}

.input-label {
  font-size: 14px;
}

.input {
  font-size: 16px;
  padding: 5px;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.button {
  @apply --greenButton;
  margin-top: 20px;
  padding: 5px;
}

.remove-button {
  @apply --redButton;
  margin-top: 20px;
  padding: 5px;
}

.dishes-list {
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
}

.dish {
  display: flex;
  margin-bottom: 40px;
  border: 2px solid grey;
  padding: 30px;
  margin-left: 20px;
}

.restaurant-menu {
  background-color: #F0F0F0;
  padding: 15px;
  margin-bottom: 20px;
}

.menu-dish {
  background-color: #FBFBFB;
  padding: 10px;
}

.cart {
  background-color: #F0F0F0;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 100%;
  margin-left: 40px;
}

.reduce-quantity-btn {
  color: #ed193a;
  font-size: 40px;
  padding: 0;
  background: transparent;
  line-height: 0;
  border: 0;
  padding-bottom: 15px;
  cursor: pointer;
  outline: none;
}
